@import url('../../Theme.css');

.top-menu{
    position: fixed;
    text-align: initial;
    width: 500px;
    background: var(--color-accent);
    right: 0%;
    top: 81px;
    border-top: solid 1px var(--border-color);
    animation-name: animatetop;
    animation-duration: 0.5s;
    box-shadow: var(--main-shadow);
    max-width: 100%;
    overflow: auto;
    max-height: 100%;
    z-index: 1;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 81px; opacity: 1}
}

.title-discriptions{
    margin-bottom: 2%;
    border-top: solid 1px var(--border-color);
    margin-left: 1%;
    margin-right: 1%;
    padding: 3%;
    color: var(--text-dark);
}

.no-border{
    border: none;
}

.direct-message{
    width: 85%;
    background: var(--color-accent);
    margin-left: 6%;
    box-shadow: var(--main-shadow);
    border: 0.5px solid var(--border-color);
    padding: 2%;
    border-radius: 7px;
    margin-bottom: 5%;
}

.send-messenger-button{
    text-align: initial;
    margin-top: 0%;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    font-family: var(--title-font);
    background: var(--color-accent);
    color: var(--primary-color-one);
    border: 3px solid var(--primary-color-one);
    font-weight: bold;
    font-size: 12pt;
}

.message-input{
    height: 70px;
    width: 95%;
    font-family: var(--title-font);
    font-size: 12pt;
    background: var(--input-color);
    color: var(--primary-text-color);
    border: 0.5px solid var(--border-color);
    padding: 2%;
    resize: none;
}

.messenger-icon{
    float: right;
    font-size: 15pt;
}

.center-container{
    text-align: center;
    overflow: auto;
}