@import url('../../Theme.css');

.top-bar-div{
    text-align: initial;
    background: var(--color-accent);
    box-shadow: var(--main-shadow);
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.main-title{ 
    display: inline-block;
    font-family: var(--title-font);
    color: var(--primary-color-one);
    margin-left: 5%;
    margin-top: 20px;
}

.menu-button{
    display: inline-block;
    margin-right: 5%;
    color: var(--primary-color-one);
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18pt;
    padding: 5px;
    float: right;
}