@import url('../../Theme.css');

.chart-container{
    margin-top: 20px;
    width: 100%;
    background: var(--color-accent);
    color: var(--primary-color-two);
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.chart-title{
    color: var(--primary-color-one);
}