@import url('../../Theme.css');

.iconed-button{
    border: none;
    background: var(--color-accent);
    text-align: center;
    cursor: pointer;
    outline: 0;
}

.button-icon{
    font-size: 18pt;
    vertical-align: middle;
}

.button-discription{
    color: var(--primary-text-color);
}

