@import url('../../Theme.css');

.conversion-box{
    display: inline-block;
    width: 550px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    max-width: 95%;
    margin-top: 100px;
    background: var(--color-accent);
    padding-top: 20px;
    padding-bottom: 20px;
}
.currency-holder{
    border: 0.5px solid var(--border-color);
    width: 90%;
    padding:5px;
    text-align: initial; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--main-shadow);
    height: 65px;
}
.currency-input{
    display: inline-block;
    color: var(--primary-text-color);
    font-size: 15pt;
    border: none;
    width: 70%;
    height: inherit;
    padding-left: 2%;
    background: var(--input-background);
}
.convert-buttons-holder{
    text-align: initial;
    font-weight: bold;
    font-family: var(--title-font);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.change-button{
    display: inline-block; 
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 15pt;
    box-shadow: var(--main-shadow);
    border-radius: 7px;
    padding: 2%;
    width:45%;
    font-weight: bold;
    font-family: var(--title-font);
    background: var(--color-accent);
    color: var(--primary-color-one);
    border: 3px solid var(--primary-color-one);
}



.change-up-button{
   float: right;
    
}

.arrow-icons{
    font-size: 18pt;
    padding-left: 2%;
    float: right;
}

.change-curreny-button{
    display: inline-block;
    max-width: 10%;
    margin-left: 6%;
    font-size: 18pt;
    border: none;
    color: var(--primary-color-one);
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}

.currency-id{
    margin-left: 3%;
    color: var(--text-dark);
}

.conversion-formula{
    color: var(--primary-text-color);
    margin-top: 6%;
}

.currency-name{
    color: var(--primary-color-one);
}


::placeholder{
    color: var(--primary-text-color);
}