@import url('./Theme.css');

body{
    text-align: center;
    background: var(--main-background);
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

input{
    outline: none;
}

textarea{
    outline-color: var(--primary-color-one);
}

button{
    outline: none;
}


