:root{
    --title-font:'Ubuntu';
    --primary-color-one:#42A5F5;
    --primary-dark:#1E88E5;
    --primary-color-two:#556270;
    --primary-text-color:#6e6e6e;
    --inactive-color:#c0c0c0;
    --border-color:#d4d4d4;
    --input-background:#ffffff;
    --text-dark:#556270;
    --title-color:#ffffff;
    --color-accent:#ffffff;
    --main-background:#d1d1d1;
    --main-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}