@import url('../../Theme.css');

.currency-option{
    height: 15px;
    width: 90%;
    text-align: initial;
    cursor: pointer;
    background: var(--color-accent);
    box-shadow: var(--main-shadow);
    white-space: nowrap; 
    overflow: hidden;
    border: 1px solid var(--border-color);
    text-overflow: ellipsis;
    padding: 2.5%;
    margin-left: 2.5%;
    margin-top: 2%;
    border-radius: 7px;
}

.currency-flag{
    display: inline-block;
    height: 100%;
    border: 0.8px solid var(--border-color);
    width: 30px;
}
.option-name{
    display: inline;
    margin: 0%;
    color: var(--text-dark);
    margin-left: 7%;
}

.option-currency{
    display: inline;
    margin: 0%;
    color: var(--text-dark);
    float: right;
}